/*

Website Name: 
Theme URI: 
Description: 
Author: KMC Savills - Marketing (Web Developer - Manuel Aldrin Balbino)
Version: 1.0
Tags: 
License: 
License URI: 
*/

/****************************************
GLOBAL
****************************************/
body{
	background: #fff;
	color: #000;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', Arial, sans-serif;
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Montserrat', sans-serif;*/
	font-size: 12px;
	font-weight: 400;
	border: 0;
	box-sizing: border-box;
}

	body.overflow-body{
		overflow: hidden;
	}

	body.modal-open{
		padding-right: 0px !important;
	}

	body *{
		box-sizing: border-box;
	}

	ul, ol{
		padding-left: 0;
		list-style:  none;
	}

	.table{
		margin-bottom: 0;
	}

	a,
	a:hover,
	a:visited,
	a:focus,
	button,
	input,
	select,
	textarea,
	.slick-slide,
	.slick-arrow{
		outline: 0;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		text-decoration: none;
	}

	.section-wrapper{
		position: relative;
	}

	.hide{
		display: none;
	}

	#main-wrapper{
		overflow: hidden;
	}

	.ease-fast{
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}

	.ease-slow{
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
	}

	.custom-container{
		width: 100%;
	}

	.section-bg{
		background: #fff;
		position: relative;
		z-index: 100;
	}

	.container-rel{
		position: relative;
		z-index: 100;
	}

	.no-margin{
		margin-left: 0;
		margin-right: 0;
	}

	.no-gutter{
		padding-left: 0;
		padding-right: 0;
	}

	.center-section {
	    position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: 50px 0;
		z-index: 200;
	}


/*Magnific popup*/
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

	/* overlay animate in */
	.mfp-fade.mfp-bg.mfp-ready {
	  opacity: 0.8;
	}

	/* overlay animate out */
	.mfp-fade.mfp-bg.mfp-removing {
	  opacity: 0;
	}

	/* content at start */
	.mfp-fade.mfp-wrap .mfp-content {
	  opacity: 0;
	  -webkit-transition: all 0.15s ease-out;
	  -moz-transition: all 0.15s ease-out;
	  transition: all 0.15s ease-out;
	}

	/* content animate it */
	.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	  opacity: 1;
	}

	/* content animate out */
	.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	  opacity: 0;
	}

	.mfp-zoom-out-cur .mfp-image-holder .mfp-figure .mfp-close {
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: auto;
	    cursor: pointer;
	}

	.mfp-wrap .mfp-container{
		cursor: default;
	}


/*Header*/
.header-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1025;
    background: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    /*border-bottom: 1px solid #ececec;*/
}

	.header-wrap.fh {
	    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	}

	.h-field{
		display: inline-block;
		vertical-align: middle;
	}

	.header-logo{
	    max-width: 130px;
	    width: 100%;
	    margin: 5px 0;
	}

	/*Header Navigation*/
	.header-nav-icon-wrap {
	    height: 40px;
	    display: none;
	}

	.header-nav-icon{
		height: 16px;
		width: 18px;
		position: relative;
		margin: 11px 30px;
		cursor: pointer;
	}

	.header-nav-icon::before{
		content: '';
		position: absolute;
		left: 0;
		top: 2px;
		height: 2px;
		width: 18px;
		background: #000;
		transition: all 0.1s;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		-o-transition: all 0.1s;

	}

	.header-nav-icon::after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 2px;
		height: 2px;
		width: 18px;
		background: #000;
		transition: all 0.1s;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		-o-transition: all 0.1s;
	}

	.header-nav-icon i{
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		height: 2px;
		width: 18px;
		background: #000;
		transition: all 0.1s;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		-o-transition: all 0.1s;
	}

		.header-nav-icon:hover::before{
			transform: translateY(-3px) translateZ(0);
		}

		.header-nav-icon:hover::after{
			transform: translateY(3px) translateZ(0);	
		}


		/*Navigation*/


		.menu{
			margin: 0 0 0 15px;
		}

		.menu > li{
			display: inline-block;
			vertical-align: middle;
		}

		.menu > li a{
			font-family: 'Roboto Condensed', sans-serif;
		    font-size: 17px;
		    text-transform: uppercase;
		    color: #1a3865;
		    display: block;
		    padding: 15px;
		    line-height: 1;
		}

		.sub-menu{
			display: none;
		}

/*Header Buttons*/
.header-btns{
	text-align: right;
}

	.lyp-btn{
		display: inline-block;
		vertical-align: middle;
	}

	.lyp-btn a {
	    display: block;
	    font-size: 15px;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-weight: 600;
	    padding: 26.5px 25px;
	    background: #fee850;
	    color: #1a3865;
	    text-transform: uppercase;
	}

	.search-btn {
	    display: inline-block;
	    vertical-align: middle;
	    padding: 0 15px;
	}

	.search-btn i {
	    font-size: 20px;
	}

	.search-btn a {
	    color: #1a3865;
	}


/*Search*/
.search-wrap{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1020;
	background: #fff;
	display: none;
}

	body.primary-nav-open{
		overflow: hidden !important;
	}

/* Contact Top */
.contact-top-main {
    width: 100%;
    min-height: 500px;
    background: #fff;
    border-bottom: 5px solid #ffea4e;
}


	/*Slideshow*/
	.slideshow-item{
		width: 100%;
		height: calc(100vh - 150px);
		min-height: 700px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
	}

	.slideshow-item::before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0);
		z-index: 10;
	}

	/*Tagline*/
	.tagline-wrap{
		position: absolute;
	    left: 0;
	    bottom: calc(50% - 40px);
	    width: 100%;
	    z-index: 100;
	    line-height: 1;
	}

	.tagline-wrap h2{
		margin: 0; 
		color: #fff;
		font-family: 'Lato', sans-serif;
	}

	.tagline-main{
		font-size: 40px;
		margin: 0 0 5px !important;
		display: none;
	}

	.tagline-sub{
		font-size: 20px;
		font-weight: 300;
	}

	/*Search Bar*/
	.searchbar-label {
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 46px;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: 300;
	    margin-bottom: 15px;
	}

	.searchbar-form {
	    background: #fff;
	    font-size: 0;
	}

	.searchbar-form input,
	.searchbar-form select,
	.searchbar-form span {
	    border: 0;
	    border-bottom: 1px solid #fff;
	    height: 70px;
	    padding: 0 10px;
	    font-size: 17px;
	    background: #fff;
	    color: #000;
	    display: inline-block;
	    vertical-align: middle;
	    font-family: 'Montserrat', sans-serif;
	}

	.searchbar-form select{
		background: url(../images/arrow-dd.png) no-repeat center right 7px;
		width: 20%;
	}

	.searchbar-form span{
		line-height: 70px;
		color: #949494;
		width: 10%;
		text-align: center;
	}

	.searchbar-form input{
		width: calc(40% - 45px)
	}

	.searchbar-form input.submit-btn {
	    width: 35px;
	    background: #fff url(../images/search.png) no-repeat center / contain;
	    font-size: 0;
	}

	.searchbar-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #949494;
	}

	.searchbar-form input::-moz-placeholder { /* Firefox 19+ */
		color: #949494;
	}

	.searchbar-form input:-ms-input-placeholder { /* IE 10+ */
		color: #949494;
	}

	.searchbar-form input:-moz-placeholder { /* Firefox 18- */
		color: #949494;
	}



	/*Down Arrow*/
	.down-arrow {
	    position: absolute;
	    left: 0;
	    bottom: -26px;
	    width: 100%;
	    z-index: 156;
	    text-align: center;
	    line-height: 55px;
	    display: none;
	}

	.down-arrow a {
	    display: block;
	    height: 55px;
	    width: 55px;
	    background: #ffffff;
	    color: #1a3865;
	    font-size: 20px;
	    box-shadow: 5px 5px 0px #1a3865;
	    border: 1px solid hsla(216, 59%, 25%, 0.2);
	}

/*CTA*/
.cta-wrap{
	position: absolute;
	left: 0;
	bottom: 50px;
	width: 100%;
	z-index: 200;
}

	.cta-link {
	    display: block;
	    height: 80px;
	    text-align: center;
	    position: relative;
	    border: 1px solid #fff;
	    border-radius: 8px;
	    color: #fff;
	}

	.cta-label{
		line-height: 80px;
		margin: 0;
		font-size: 20px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		text-transform: uppercase;
	}

	/*Hover*/
	.cta-link:hover{
		color: #fff;
		border-radius: 8px;
	}

/*Clients*/
.clients-wrap{
	padding: 50px 0;
	background: #fff;
}

	.clients-container.container {
	    max-width: 1500px;
	    width: 100%;
	}

	.clients-wrap img{
		opacity: 0.3;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}

	.clients-wrap .slick-slide.slick-active.slick-current img{
		opacity: 1;
		transform: scale(1.2);
	}

	.membership-client-item{
		padding: 0 15px;
	}

	.membership-client-slick-wrap {
	    position: relative;
	    padding: 15px 0;
	}

	.membership-client-slick-wrap::before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    height: 100%;
	    width: 180px;
	    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
	    z-index: 100;
	}

	.membership-client-slick-wrap::after {
	    content: '';
	    position: absolute;
	    right: 0;
	    top: 0;
	    height: 100%;
	    width: 180px;
	    background: -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	    background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	    background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
	    z-index: 100;
	}

/*Blog*/
.blog-wrap{
	padding: 120px 30px;

}
	
	.blog-main-title{
		text-align: center;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 50px;
	}

	.blog-main-title::after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		max-width: 160px;
		width: 100%;
		height: 4px;
		background: #fee850;
	}

	.blog-main-title *{
		margin: 0;
	}

	.blog-main-title h2{
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #001844;
	}

	.blog-main-title span{
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		color: #737373;
	}

	.blog-main-title-desc {
	    font-size: 17px;
	    font-family: 'Montserrat', sans-serif;
	    text-align: center;
	    margin-bottom: 30px;
	}

	.blog-main-title-desc p{
		max-width: 900px;
		width: 100%;
		margin: auto;
	}

	.blog-item {
	    position: relative;
	    width: 100%;
	    overflow: hidden;
	    margin: 15px auto;
	}

	.blog-big{
		height: 480px;
	}

	.blog-big a.blog-link::after {
	    content: 'Featured Article';
	    position: absolute;
	    left: 0;
	    top: 30px;
	    background: rgb(254, 232, 80);
	    z-index: 10;
	    transition: 0.3s;
	    -webkit-transition: 0.3s;
	    -moz-transition: 0.3s;
	    -o-transition: 0.3s;
	    padding: 10px 15px;
	    font-size: 13px;
	    color: #001844;
	    text-transform: uppercase;
	}

	.blog-small{
		height: 225px;
	}

	.blog-link{
		display: block;
		color: #fff;
		height: 100%;
		transition: 0.3s;
	    -webkit-transition: 0.3s;
	    -moz-transition: 0.3s;
	    -o-transition: 0.3s;
	}

	.blog-photo {
		position: absolute;
		left: 0;
		top: 0;
	    height: 100%;
	    width: 100%;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	    position: relative;
	    transition: 0.3s;
	    -webkit-transition: 0.3s;
	    -moz-transition: 0.3s;
	    -o-transition: 0.3s;
	}

	.blog-link::before{
		content: '';
		position: absolute;
		left: 0; 
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		z-index: 10;
		transition: 0.3s;
	    -webkit-transition: 0.3s;
	    -moz-transition: 0.3s;
	    -o-transition: 0.3s;
	}

	.blog-content{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 200;
		padding: 15px;
	}

	.blog-title {
	    margin: 0 0 7px;
	    font-family: 'Roboto Condensed', sans-serif;
	    color: #fff;
	    font-weight: 300;
	    line-height: 0.9;
	}

	.blog-big .blog-title{
		font-size: 45px;
	}

	.blog-small .blog-title{
		font-size: 22px;
	}

	.blog-date{
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 300;
	}

	.blog-btn a {
	    display: block;
	    max-width: 250px;
	    width: 100%;
	    margin: 40px auto 0;
	    height: 50px;
	    text-align: center;
	    border: 1px solid #7f98cc;
	    color: #fff;
	    font-size: 17px;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-weight: 400;
	    text-transform: uppercase;
	    line-height: 50px;
	    box-shadow: 5px 5px 0 #535c6f;
	    background: #7f98cc;
	}

		/*hover*/
		.blog-link:hover{
			color: #fff;
			text-shadow: 1px 1px 2px #000;
		}

		.blog-link:hover::after{
			text-shadow: none;
		}

		.blog-link:hover::before{
			background: rgba(0,0,0,0.3);
		}

		.blog-link:hover canvas{
			transform: scale(1.2);
		}

/*Featured Properties - Commercial*/
.featprop-wrap{
	padding: 60px 0;
	background: #fdfdfd;
}

	.featprop-container {
	    padding: 0 45px;
	}

	.featprop-main-label {
	    font-family: 'Montserrat', sans-serif;
	    font-size: 45px;
	    text-transform: uppercase;
	    color: #001844;
	    box-shadow: 0 0 black;
	    margin: 0;
	    position: relative;
	    padding-bottom: 20px;
	    margin-bottom: 50px;
	    /*margin-left: 10%;*/
	}

	.featprop-main-label::after {
	    content: '';
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    margin: auto;
	    max-width: 160px;
	    width: 100%;
	    height: 4px;
	    background: #fee850;
	}


	.featprop-content {
	    font-size: 17px;
	    max-width: 1000px;
	    font-family: 'Montserrat', sans-serif;
	    color: #616263;
	    font-weight: 400;
	    /*margin-left: 10%;*/
	    margin-bottom: 60px;
	}

	.featprop-content strong{
		font-weight: 600;
	}

	.featprop-content-link {
	    display: block;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 15px;
	    text-transform: uppercase;
	    color: #001844;
	    margin: 20px 0 20px auto;
	    max-width: 200px;
	    width: 100%;
	    height: 50px;
	    line-height: 50px;
    	background: #fee850;
    	text-align: center;
    	box-shadow: 5px 5px 0 #ad910b;
	}

	.featprop-content-link i{
		display: inline-block;
	    vertical-align: middle;
	    line-height: 1;
	    margin-top: -6px;
	}

	.featprop-slick-wrap {
	    padding: 0;
	    /*width: calc(100% - 200px);*/
	    padding-right: 100px;
	    /*margin-left: auto;*/
	    position: relative;
	}

	.featprop-holder{
		margin: 0 -15px;
	}


	.featprop-item{
		padding: 15px;
	}

	.featprop-photo{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 350px;
		width: 100%;
	}

	.featprop-link {
	    /*max-width: 360px;*/
	    width: 100%;
	    display: block;
	    background: #fff;
	    color: #4e4e4e;
	    box-shadow: 0 2px 15px 0 rgba(0,0,0,.05);
	    transition: 0.3s all;
	    -webkit-transition: 0.3s all;
	    -moz-transition: 0.3s all;
	    -o-transition: 0.3s all;
	}

	.featprop-details{
		padding: 15px;
	}

	/*.featprop-residential-holder .featprop-details{
		border-bottom: 10px solid #fee850;
	}

	.featprop-commercial-holder .featprop-details{
		border-bottom: 10px solid #7f98cc;
	}*/

	.featprop-label{
		margin: 0 0 5px;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 20px;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    /* text-transform: uppercase; */
	    border-bottom: 1px solid #f5f5f5;
	    padding-bottom: 4px;
	}

	.featprop-address{
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 15px;
		min-height: 42px;
	}

	.featprop-btn{
		height: 40px;
		width: 40px;
		background: url(../images/arrow-right.svg) no-repeat center;
		display: block;
		margin-top: 10px;
		margin-left: auto;
		border: 1px solid #ececec;
	}

	.featprop-holder .slick-arrow{
		position: absolute;
		top: 15px;
		height: 70px;
		width: 70px;
		border: 1px solid #001844;
		background: #001844;
		font-size: 0;
		padding: 0;
		margin: 0;
	}

	.featprop-holder .slick-arrow.slick-next{
		background: #001844 url(../images/slick-right.svg) no-repeat center;
		right: -85px;
		top: 90px;
	}

	.featprop-holder .slick-arrow.slick-prev{
		background: #001844 url(../images/slick-left.svg) no-repeat center;
		right: -85px;
	}

	.featprop-residential-holder .featprop-label{
		overflow: visible;
		white-space: normal;
		font-size: 15px;
		min-height: 37px;
	}

	.featprop-link:hover{
		transform: translateY(-15px);
		box-shadow: 7px 11px 10px 0 rgba(0, 0, 0, 0.2);
	}




/* Featured Video */
.featvideo-wrap{
	min-height: 600px;
	padding: 100px 0;
	display: none;
}

	.featvideo-placeholder{
		width: 100%;
		height: 400px;
	}


/* Services */
.services-wrap{
	padding: 150px 0 0;
	/*min-height: 500px;*/
	background: url(../images/banner2.jpg) no-repeat center / cover;
	position: relative;
	text-align: center;
	margin-bottom: 	100px;
}

	.services-wrap::before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.7);
		z-index: 1;
	}

	.services-container{
		position: relative;
		z-index: 200;
	}

	.services-label {
	    color: #fff;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 45px;
	    text-transform: uppercase;
	    box-shadow: 0 0 black;
	    margin: 0;
	    position: relative;
	    padding-bottom: 20px;
	    margin-bottom: 30px;
	}

	.services-label::after {
	    content: '';
	    position: absolute;
	    left: 0;
	    right: 	0;
	    bottom: 0;
	    margin: auto;
	    max-width: 160px;
	    width: 100%;
	    height: 4px;
	    background: #fee850;
	    display: none;
	}

	.services-desc {
	    font-size: 20px;
	    font-family: 'Montserrat', sans-serif;
	    color: #fff;
	    font-weight: 300;
	    max-width: 900px;
	    width: 100%;
	    margin: 0 auto 50px;
	}

	.services-info-wrap {
	    background: #fff;
	    padding: 60px 0 0;

	}

	.services-info-icon {
	    font-size: 60px;
	    color: #001844;
	    text-align: center;
	    display: block;
	    margin-bottom: 26px;
	}

	.services-info-label {
	    margin: 0 0 15px;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 25px;
	    font-weight: 300;
	    color: #535c6f;
	}

	.services-info-btn {
	    padding: 60px 0 30px;
	    margin-bottom: -110px;
	}

	.services-info-btn a {
	    display: block;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 15px;
	    text-transform: uppercase;
	    color: #001844;
	    margin: auto;
	    max-width: 200px;
	    width: 100%;
	    height: 50px;
	    line-height: 50px;
	    background: #fee850;
	    text-align: center;
	    box-shadow: 5px 5px 0 #ad910b;
	}

/* List your property */
.listyourprop-wrap{
	background: url(../images/list-bg.jpg) no-repeat center bottom / cover;
	margin: 250px 0 0;
	min-height: 600px;
	position: relative;	
	color: #fff;
	padding: 200px 0;
}

	.listyourprop-wrap::before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		z-index: 1;
	}

	.listyourprop-container{
		position: relative;	
		z-index: 200;
	}

	.listyourprop-label {
	    color: #fff;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 45px;
	    font-weight: 400;
	    box-shadow: 0 0 black;
	    margin: 0;
	    position: relative;
	    padding-bottom: 20px;
	    margin-bottom: 30px;
	}

	.listyourprop-desc {
	    font-size: 20px;
	    font-family: 'Montserrat', sans-serif;
	    color: #fff;
	    font-weight: 300;
	    margin-bottom: 	30px;
	}

	.listyourprop-btns a {
	    display: inline-block;
	    vertical-align: middle;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 15px;
	    text-transform: uppercase;
	    color: #001844;
	    max-width: 200px;
	    width: 100%;
	    height: 50px;
	    line-height: 50px;
	    background: #fee850;
	    text-align: center;
	    margin-top: 15px;
	    
	}

	.listyourprop-btns a:first-of-type{
		margin-right: 20px;
	}

	.listyourprop-btns a:last-of-type{
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
	}


/*Reports*/
.reports-wrap{
	padding: 100px 0 50px;
}

	.reports-image{
		width: 100%;
		height: 400px;
	}

	.reports-label {
	    color: #001844;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 36px;
	    font-weight: 400;
	    box-shadow: 0 0 black;
	    margin: 0 0 30px;
	    position: relative;
	}

	.reports-desc {
	    font-size: 17px;
	    font-family: 'Montserrat', sans-serif;
	    color: #656565;
	    font-weight: 300;
	    margin-bottom: 30px;
	}

	.reports-content {
	    margin: 20px -150px 0 0;
	    background: #fdfdfd;
	    padding: 55px 20px;
	    position: relative;
	    z-index: 100;
	    /* box-shadow: -10px 10px 0 #c3c3c3; */
	}

	.reports-btns a{
		display: inline-block;
	    vertical-align: middle;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 15px;
	    text-transform: uppercase;
	    color: #001844;
	    max-width: 200px;
	    width: 100%;
	    height: 50px;
	    line-height: 50px;
	    background: #fee850;
	    text-align: center;
	    margin-top: 15px;
	}

	.reports-btns a:first-of-type {
	    margin-right: 20px;
	}

	.reports-btns a:last-of-type {
	    background: transparent;
	    border: 1px solid #ababab;
	    color: #757575;
	}

/*people*/
.people-wrap{
	padding: 50px 0 100px;
}

	.people-image-wrap{
		font-size: 0;
	}

	.people-image{
		width: 100%;
		height: 400px;
	}

	.people-label {
	    color: #001844;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 36px;
	    font-weight: 400;
	    box-shadow: 0 0 black;
	    margin: 0 0 30px;
	    position: relative;
	}

	.people-desc {
	    font-size: 17px;
	    font-family: 'Montserrat', sans-serif;
	    color: #656565;
	    font-weight: 300;
	    margin-bottom: 30px;
	}

	.people-content {
	    margin: 20px 0 0 -150px;
	    background: #fdfdfd;
	    padding: 55px 30px;
	    position: relative;
	    z-index: 100;
	    /*border-bottom: 7px solid #fee850;*/
	    /* box-shadow: -10px 10px 0 #c3c3c3; */
	}

	.people-btns a{
		display: inline-block;
	    vertical-align: middle;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 15px;
	    text-transform: uppercase;
	    color: #001844;
	    max-width: 200px;
	    width: 100%;
	    height: 50px;
	    line-height: 50px;
	    background: #fee850;
	    text-align: center;
	    margin-top: 15px;
	}

/*Footer*/
/*.footer-wrap {
    background: #001844;
    padding: 50px 0;
}*/
.contact-wrap {
    /*background: #f8f8f8 url(../images/cream_pixels.png) repeat;*/
    background: url(../images/based-presentation-bg-flipped.jpg) no-repeat 200px center / cover;
    padding: 85px 0;
    position: relative;
}

.contact-wrap::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);
	z-index: 1;
}

.contact-container{
	position: relative;
	z-index: 200;
}


/*Contact Info*/
.contact-label {
    position: relative;
    font-weight: 500;
    font-size: 35px;
    line-height: 1;
    color: #001844;
    text-transform: uppercase;
    padding-bottom: 25px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.contact-desc {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    color: #656565;
    font-weight: 300;
}

.contact-label::before {
    content: '';
    position: absolute;
    bottom: 0;
    max-width: 415px;
    width: 100%;
    height: 10px;
    background: #707070;
}

.contact-label span {
    display: block;
}

.contact-info-btn a {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #001844;
    margin: 45px 0 20px;
    max-width: 200px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #fee850;
    text-align: center;
    box-shadow: 5px 5px 0 #ad910b;
}

.contact-form:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

/*Contact*/

.contact-form .form-group {
    margin-bottom: 10px;
}


.contact-form {
    max-width: 500px;
    width: 100%;
    margin: 10px 0 0 auto;
    background: #fff;
    padding: 40px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}



	.contact-form input, 
	.contact-form textarea, 
	.contact-form button {
	    height: 50px;
	    width: 100%;
	    border: 0;
	    background: transparent;
	    color: #828282;
	    border-radius: 0;
	    padding: 0 15px;
	    font-size: 15px;
	    margin-bottom: 10px;
	    border-bottom: 1px solid #ccc;
	    font-family: 'Roboto Condensed', sans-serif;
	}

	.contact-form textarea {
	    height: 150px;
	    resize: none;
	    padding: 15px;
	}

	.contact-form button {
	    background: #001844;
	    color: #fff;
	    text-transform: uppercase;
	    font-family: inherit; 
	}


/* Newsletter */
.newsletter-wrap {
    padding: 30px 0;
    /*background: #fbfbfb;*/
    background: #001844;
}

  .newsletter-wrap *{
    box-sizing: border-box;
  }

  .newsletter-label {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    margin: 9px 0 15px;
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif; 
	text-transform: uppercase;
  }

  .newsletter-email {
    width: calc(98% - 190px);
    height: 40px;
    padding: 0 15px;
    font-size: 13px;
	border: 0;
	border-bottom: 1px solid #ccc !important;
	color: #fff;
	background: transparent;
	/* font-family: 'Roboto', sans-serif; */
	text-transform: uppercase;
	letter-spacing: 1px;
  }

	.newsletter-email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #ccc;
	}
	.newsletter-email::-moz-placeholder { /* Firefox 19+ */
		color: #ccc;
	}
	.newsletter-email:-ms-input-placeholder { /* IE 10+ */
		color: #ccc;
	}
	.newsletter-email:-moz-placeholder { /* Firefox 18- */
		color: #ccc;
	}


	.newsletter-submit {
		border: 0;
	    font-size: 15px;
	    text-transform: uppercase;
	    height: 40px;
	    width: 170px;
	    margin-left: 20px;
	    cursor: pointer;
	    border-radius: 0;
	    border: 1px solid #ffffff;
	    background: transparent;
	    color: #fee850;
	    /* font-family: 'Roboto Condensed', sans-serif; */
	}

	.n-field {
		display: inline-block;
		vertical-align: middle;
	}

	.newsletter-submit:hover {
	  	background: #ffe94f;
	  	color: #2a2a2a;
	  	border: 1px solid #ffe94f;
	}

		/*Footer Contact*/
	.footer-contact-label{
		font-size: 20px;
	    line-height: 1;
	    color: #fff;
	    font-weight: 400;
	    margin: 9px 0 15px;
	    font-family: 'Roboto Condensed', sans-serif;
	    text-transform: uppercase;
	}

	.footer-contact-main a {
	    color: #fff;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 20px;
	    font-weight: 300;
	    display: inline-block;
	    vertical-align: middle;
	}

	.footer-contact-main{
		padding-left: 15px;
	}

	.footer-contact-main i {
	    display: inline-block;
	    vertical-align: middle;
	    height: 30px;
	    width: 1px;
	    background: #fff;
	    margin: 0 15px;
	}

	.footer-contact-main .footer-contact-link {
	    font-size: 15px;
	    text-transform: uppercase;
	    height: 40px;
	    width: 170px;
	    margin-left: 20px;
	    cursor: pointer;
	    border-radius: 0;
	    border: 1px solid #ffffff;
	    background: transparent;
	    color: #ffe94f;
	    font-family: 'Helvetica', Arial, sans-serif;
	    text-align: center;
	    line-height: 40px;
	}

	/*Footer SMI*/
	.footer-smi-label{
		font-size: 20px;
	    line-height: 1;
	    color: #fff;
	    font-weight: 400;
	    margin: 9px 0 25px;
	    font-family: 'Roboto Condensed', sans-serif;
	    text-transform: uppercase;
	}

	.smi-main a{
		display: inline-block;
		vertical-align: middle;
		margin-right: 21px;
		margin-bottom: 12px;
		color: #fff;
		font-size: 20px;
	}

	.smi-main a:last-child{
		margin-right: 0;
	}

/*Footer*/
.footer-wrap {
    padding: 30px 0 0;
    background: #0b1321;
}

	.footer-logo-main {
	    display: block;
	    max-width: 160px;
	    width: 100%;
	    /*margin-left: auto;*/
	    margin-bottom: 30px;
	}

	.footer-text{
		margin: 0 0 30px;
	}

	.disclaimer {
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 12px;
	    font-weight: 300;
	    color: #969696;
	    text-align: justify;
	}

	.credits{
		font-size: 13px;
		margin-top: 12px;
		color: #fff;
	}

	.credits a{
		color: #fee850;
		text-decoration: underline;
	}

	/*Sitemap*/
	.site-links ul {
		column-count: 3;
	    padding: 0 15px;
	    max-width: 420px;
	    width: 100%;
	    margin: 0 0 0 auto;
	    line-height: 1.5;
	}

	.site-links a {
	    color: #fff;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 20px;
	    font-weight: 300;
	}



/****************************************
MEDIA QUERIES
****************************************/


@media only screen and (max-width : 1400px) {
	.footer-contact-main a{
		font-size: 17px;
	}

	.smi-main a{
		margin-right: 10px;
	}

	.blog-small .blog-title {
	    font-size: 18px;
	}

	.blog-big .blog-title {
	    font-size: 33px;
	}
}

@media only screen and (max-width : 1300px) {
	.footer-contact-main a{
		font-size: 13px;
	}

	.credits {
	    font-size: 11px;
	}

	.disclaimer{
		font-size: 10px;
	}

}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	.menu > li a{
		padding: 15px 10px;
		font-size: 15px;
	}

	.footer-contact-main .footer-contact-link{
		width: 110px;
	}

	.site-links a{
		font-size: 17px;
	}

	.credits {
	    font-size: 9px;
	}

	.smi-main a {
	    margin-right: 8px;
	    font-size: 15px;
	}

	.blog-small .blog-title {
	    font-size: 15px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

	.header-nav{
		display: none;
	}

	.header-btns{
		display: none;
	}

	.header-wrap,
	.header-wrap.fh{
		position: relative;
		text-align: center;
		padding: 15px;
	}

	.cta-wrap {
	    position: relative;
	    bottom: 0;
	    padding: 30px 0;
	    background: #fdfdfd;
	}

	.cta-link {
	    border: 1px solid #001844;
	    color: #fff;
	    margin: 15px 0;
	    background: #001844;
	}

	.listyourprop-wrap {
	    text-align: center;
	}

	.reports-content,
	.people-content {
	    margin: 0;
	    text-align: center;
	}


	.services-info-btn{
		margin-bottom: 0;
	}

	.searchbar-label{
		font-size: 30px;
		text-align: center;
	}

	.searchbar-form input, .searchbar-form select, .searchbar-form span{
		height: 50px;
		font-size: 15px;
	}

	.searchbar-form span{
		line-height: 50px;
	}


	.featprop-main-label,
	.services-label,
	.listyourprop-label{
	    font-size: 35px;
	    text-align: center;
	}

	.featprop-main-label::after{
		right: 0;
	}

	.featprop-content{
		text-align: center;
	}

	.featprop-content-link{
		margin: 20px auto;
	}

	.featprop-slick-wrap{
		padding: 0 50px;
	}

	.featprop-holder .slick-arrow.slick-prev{
		left: -35px;
	}

	.featprop-holder .slick-arrow.slick-next{
		right: -35px;
		top: 15px;
	}

	.contact-form{
	    margin: 50px auto 20px;
	    padding: 40px 15px;
	}

	.contact-wrap {
	    text-align: center;
	}

	.contact-label::before {
	    left: 0;
	    right: 0;
	    margin: auto;
	}

	.contact-info-btn a{
		margin: 45px auto 20px;
	}

	.newsletter-wrap{
		text-align: center;
	}

	.n-field{
		width: 100%;
    	margin: 0 0 10px;
    	text-align: center;
	}

	.footer-contact {
	    margin: 50px 0;
	}

	.footer-logo-main{
		margin: 0 auto 30px;
	}

	.footer-contact-main .footer-contact-link {
		width: 100%;
	    margin-left: 0;
	    margin-top: 15px;
	}

	.footer-contact-main {
	    padding-left: 00;
	}

	.footer-contact-main a {
	    font-size: 16px;
	}

	.disclaimer,
	.credits {
	    font-size: 13px;
	    text-align: center;
	}

	.site-links{
		display: none;
	}

	.featprop-container {
	    padding: 0 15px;
	}

	.featprop-holder .slick-arrow {
	    height: 40px;
	    width: 40px;
	}

	.listyourprop-btns a:first-of-type{
		margin-right: 0;
	}

	.searchbar-form select,
	.searchbar-form input,
	.searchbar-form span{
		width: 100%;
		text-align: left;
		border-bottom: 1px solid #ececec;
	}

	.searchbar-form{
		text-align: right;
		padding: 15px;
	}

	.searchbar-form input.submit-btn{
		margin-right: 10px;
		border-bottom: 0;
	}

	.slideshow-item{
		min-height: 595px;
	}

	.membership-client-slick-wrap::before,
	.membership-client-slick-wrap::after{
		display: none;
	}

	.clients-holder .slick-list{
		padding: 0 15px !important;
	}

}

/*Innerpage*/

/*Inner page banner*/
.innerpage-banner {
    position: relative;
    height: 600px;
}

    .innerpage-banner::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }

    .innerpage-banner canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center
    }

/*Content Title*/
.content-title-wrap {
    position: absolute;
    left: 0;
    bottom: calc(50% - 145px);
    width: 100%;
    z-index: 100;
    text-align: center;
    color: #fff;
}

	.content-title {
	    color: #fff;
	    font-size: 36px;
	    margin-bottom: 20px;
	    line-height: 1;
	    position: relative;
	    font-family: 'Montserrat', sans-serif;
	    text-transform: uppercase;
	}

	.content-title-text {
	    max-width: 800px;
	    width: 100%;
	    margin: auto;
	    padding: 15px;
	    /*font-family: 'Montserrat', sans-serif;
	    font-size: 15px;*/
	    font-size: 17px;
	    font-family: 'Helvetica LT Std';
	    font-weight: 300;
	    font-style: normal;

	}

/*Content*/
.content-full {
    padding: 50px 0;
}

	.content-entry{
		min-height: 500px;
		padding: 15px 0;
	}


/*Services*/
.content-services-item {
    position: relative;
}

	.content-services-item-wrap {
	    padding: 5px;
	}

	.content-services-link {
	    display: block;
	    height: 400px;
	    position: relative;
	    color: #fff;
	}

	.content-services-link canvas {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	}

	.content-services-details {
	    position: relative;
	    z-index: 100;
	    text-align: center;
	    padding: 15px;
	}

	.content-services-link::before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(37, 40, 57, 0.9);
	    z-index: 3;
	}

	.content-services-label {
	    /*font-family: 'Roboto Condensed', sans-serif;
	    font-weight: 400;*/
	    margin-top: 90px;
	    position: relative;
	    font-size: 36px;
	    padding-bottom: 30px;
	    font-family: 'Helvetica LT Std';
	    font-weight: 500;
	    font-style: normal;
	}

	.content-services-label::after {
	    content: '';
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    width: 100px;
	    height: 1px;
	    background: #fee850;
	}

	.content-services-desc {
	    font-size: 16px;
	    font-family: 'Montserrat', sans-serif;
	    font-family: 'Helvetica LT Std';
	    font-weight: 300;
	    line-height: 1.3;
	    margin-top: 35px;
	    color: #ccc;
	}

	/*Hover*/
	.content-services-link:hover{
		color: #fff;
	}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}